@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "gopher";
  src: url(https://use.typekit.net/af/0a837c/0000000…/31/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/0a837c/0000000…/31/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/0a837c/0000000…/31/a?subset_id=2&fvd=n4&v=3) format("opentype");

  font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: auto;
}
